{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="section-hero overlay inner-page bg-image"
  style="background-image: url({% static 'images/hero_1.jpg' %});" id="home-section">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1 class="text-white font-weight-bold">Publicar Oferta</h1>
        <div class="custom-breadcrumbs">
          <a href="{% url 'jobapp:home' %}">Inicio</a> <span class="mx-2 slash">/</span>
          <a href="{% url 'jobapp:job-list' %}">Oferta</a> <span class="mx-2 slash">/</span>
          <span class="text-white"><strong>Publicar Oferta</strong></span>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="site-section">
  <div class="container">

    <div class="row justify-content-center mb-5">
      <div class="col-12 text-center">
        <h2>Oferta de Pasantía</h2>
      </div>
    </div>

    <form method="POST" enctype="multipart/form-data">
      <div class="row mb-5 p-4 p-md-5 border rounded">
        <div class="col-lg-12">
          <h3 class="text-black mb-5 border-bottom pb-2">Detalles de la Oferta</h3>

          {% if form.errors %}
            {% for field in form %}
              {% for error in field.errors %}
              <div class="alert alert-danger alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{ field.label }}: {{ error|escape }}</strong>
              </div>
              {% endfor %}
            {% endfor %}
          {% endif %}

          {% csrf_token %}

          {% for field in form %}
            {% if field.name == 'job_type' %}
            <div class="form-group">
              <label for="job-type">Horario</label>
              <select name="job_type" class="selectpicker border rounded" id="job-type" data-style="btn-black"
                data-width="100%" data-live-search="true" title="Selecciona Tipo de Horario">
                <option value="1">Tiempo completo</option>
                <option value="2">Medio tiempo</option>
                <option value="3">Flexible</option>
              </select>
            </div>

            {% elif field.name == 'work_mode' %}
            <div class="form-group">
              <label for="work-mode">Modalidad</label>
              <select name="work_mode" class="selectpicker border rounded" id="work-mode" data-style="btn-black"
                data-width="100%" data-live-search="true" title="Selecciona Modalidad">
                <option value="1">Remoto</option>
                <option value="2">Mixto</option>
                <option value="3">Presencial</option>
              </select>
            </div>

            {% elif field.name == 'category' %}
            <div class="form-group">
              <label for="job-type">Categoría</label>
              <select name="category" class="selectpicker border rounded" id="job-type" data-style="btn-black"
                data-width="100%" data-live-search="true" title="Selecciona Categoría">
                {% for category in categories %}
                <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
              </select>
            </div>

            {% elif field.name == 'salary' %}
            <div class="form-group">
              <label class="text-black" for="id_salary">{{ field.label }}</label>
              <select name="salary" class="form-control" id="id_salary">
                <option value="True" {% if field.value == True or field.value == 'True' %}selected{% endif %}>Sí</option>
                <option value="False" {% if field.value == False or field.value == 'False' or not field.value %}selected{% endif %}>No</option>
              </select>
            </div>

            {% elif field.name == 'description' %}
            <div class="form-group">
              <label for="job-type">Descripción</label>
              <div class="">
                {{ form.media }}
                {{ form.description }}
              </div>
            </div>

            {% elif field.name == 'last_date' %}
            <div class="form-group">
              <label class="text-black" for="id_{{ field.name }}">{{ field.label }}</label>
              <input type="text" class="form-control appointment_date" placeholder="Select Date" name="{{ field.name }}"
                id="id_{{ field.name }}" required="true">
            </div>

            {% elif field.name == 'company_description' %}
            <div class="form-group">
              <label for="job-type">Descripción de la empresa :</label>
              <div class="">
                {{ form.media }}
                {{ form.company_description }}
              </div>
            </div>

            {% else %}
              {% if field.name == 'company_name'%}
              <h3 class="text-black mt-5 mb-5 border-bottom pb-2">Detalles de la Empresa / Dependencia</h3>
              {% endif%}
              <div class="form-group">
                <label class="text-black" for="id_{{ field.name }}">{{ field.label }}</label>
                <input type="{{ field.field.widget.input_type }}" class="form-control" name="{{ field.name }}"
                  id="id_{{ field.name }}" placeholder="{{ field.field.widget.attrs.placeholder }}">
              </div>
            {% endif %}
          {% endfor %}

          <div class="form-group mt-5">
            <input class="btn btn-primary btn-md px-5" type="submit" value="Publicar">
          </div>

        </div>
      </div>
    </form>

  </div>
</section>
{% endblock %}